name "LLaMA GGUF Split (English)"
bin "llama-gguf-split"
about "GGUF 文件拆分/合并工具"
version "0.4.0-dev"

flag "-h --help" help="show this help message and exit"
flag "--version" help="show version and build info"
flag "--split" help="split GGUF to multiple GGUF (enabled by default)"
flag "--merge" help="merge multiple GGUF to a single GGUF"
flag "--split-max-tensors" help="max tensors in each split (default: 128)"
flag "--dry-run" help="only print out a split plan and exit, without writing any new files"
flag "--delete-splits" help="delete the split files during merge to free up disk space WARNING: this option is unsafe and will leave you in an unrecoverable state if something fails during the merge"
flag "--split-max-size <N_M_G>" help=""
flag "--no-tensor-first-split <DO>" help=""
